.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Nav Styles*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 130px;
}
nav ul li {
  list-style: none;
  margin: 20px 35px;
}

nav li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}
nav ul {
  display: flex;
  /*Button Styles*/
}
.btn-primary {
  background-color: orange;
  padding: 8px 28px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.btn-missionary {
  background-color: black;
  color: white;
  padding: 8px 28px;
  border-radius: 10px;
}
/*Shared Styles*/

.text-primary {
  color: orange;
}
.text-missionary {
  color: #01acfd;
}
/*Banner-Styles*/
.banner {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
}
.banner-kid {
  max-width: 300px;
}
.banner-content {
  width: 550px;
  justify-content: space-between;
}
.img-logo {
  display: flex;
  height: 50px;
}
.section-title {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.card {
  max-width: 250px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-1 {
  background: linear-gradient(#def5ff, #ffffff);
}
.card-2 {
  background: linear-gradient(#fff4dc, #ffffff);
}
.card-3 {
  background: linear-gradient(#f2e8ff, #ffffff);
}
.card-img {
  width: 100px;
  margin: 0 auto;
}
.btn-3 {
  width: 50px;
  height: 50px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stories {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to top, #ffd792, #ffffff);
}
.story-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.story-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.story-card-large {
  width: 50%;
  padding: 15px;
  border-radius: 0px 10px;
  background: white;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.story-img {
  width: 100%;
  border-radius: 0px 10px 0px 10px;
}
.story-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.story-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 250px;
}
.date-1 {
  color: white;
  background-color: #01acfd;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: small;
}
.date-2 {
  color: white;
  background-color: #95b226;
  border-radius: 5px;
  font-size: small;
  padding: 2px 5px;
}
.date-3 {
  color: white;
  background-color: #5d58f0;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: small;
}
.date-4 {
  color: white;
  background-color: #95b226;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: small;
}
.date-5 {
  color: white;
  background-color: #95b226;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: small;
}
.story-img {
  width: 100%;
  border-radius: 10px;
}
/*Footer Styles*/
.footer-content {
  display: flex;
  color: white;
  background-color: #01acfd;
  justify-content: space-around;
}
.footer-links ul {
  list-style: none;
  text-align: left;
  margin: 0 auto;
}
.footer-links ul li a {
  text-decoration: none;
  color: white;
}
footer {
  background-color: #01acfd;
  padding: 80px;
}
.footer-logo {
  width: 300px;
}
.nav-sign {
  display: none;
}

/*Responsive Styles*/
@media screen and (max-width: 600px) {
  nav {
    margin: 8px 20px;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-kid {
    width: 300px;
  }
  .banner-content {
    width: 100%;
  }
  .section-title {
    font-size: 30px;
  }
  .card {
    max-width: 200px;
  }
  .section-content {
    flex-direction: column;
  }
  .story-card-large {
    width: 100%;
  }
  .story-grid {
    grid-template-columns: 1fr;
  }
  .story-card {
    max-width: 100%;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-logo {
    width: 200px;
  }
  nav ul {
    display: none;
  }
  nav h3 {
    display: none;
  }
  .nav-sign {
    display: flex;
  }
  .banner-kid {
    max-width: 250px;
  }
  .section-title {
    max-width: 200px;
  }
}
